<header>
  <nav class="navbar navbar-expand-md navbar-dar bg-success"><a href="/urls" class="navbar-brand">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a href="/urls" class="nav-item nav-link">My URLs</a>
        <a href="/urls/new" class="nav-item nav-link">Create New URL</a>
      </div>
    </div>

    <div>
      <% if (!user) {%>
        <div>
          <form class="form-inline" action="/login" method="post">
            <input class="form-control" type="text" name="userID" placeholder="username.." />
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>

        <% } else { %>
          <div class="collapse navbar-collapse" id="navbarText">
            <span class="navbar-text">Logged in as: <%= user.email %></span>
            <form class="form-inline" action="/logout" method="post">
              <button class="btn btn-primary" type="submit">Logout</button>
            </form>
          </div>
          <%} %>
    </div>
    </div>

  </nav>
</header>